
div.container-fluid
  div.row
    h1(align='center') SRAS
  div.row
    div.col-lg-3 
      div.row
        div.col-lg-12
          div.well
            b Tickets ouverts
            ul.nav.nav-pills.nav-stacked
              li 
                a(href="#") Ticket de Eryldor
              li
                a(href="#") Ticket de Truc
      div.row
        div.col-lg-12
          div.well
            div.col-lg-12
              div.row
                p
                  b Recherche
            div.row
              div.col-lg-12
                form.form-inline
                  div.form-group(style='width: 100%;')
                    select.form-control(ng-options="m.name for m in searchMethods" ng-model="selectedSearchMethod" style='width: inherit;')
                  div.form-group
                    input(ng-model="searchMotif" type="text" placeholder="{{selectedSearchMethod.placeholder}}" ng-enter="search(searchMotif)").form-control
                  button.btn.btn-primary(ng-click="search(searchMotif)") Rechercher
            div.row
              div.col-lg-12
                p
                  b Résultat
                ul.nav.nav-pills.nav-stacked(ng-switch="resultType")
                  li(ng-switch-when="characters" ng-repeat="r in searchResults")
                    a(ui-sref=".player({guid:{{r.guid}}})") {{r.name}} &nbsp;&nbsp;
                      span.text-primary ({{r.race |race:r.gender }}, {{r.class | class:r.gender}}, Niveau {{r.level}})
                  li(ng-switch-default)
                hr
                a.btn.btn-primary(ui-sref=".map") Afficher la carte dynamique
            
    div.col-lg-6
      div.row
        div.col-lg-6
          div.well
            div.row
              div.col-lg-12
                b.text-info World Alliance &nbsp;
                label
                  input(type="checkbox") 
                  span Fusionner avec le world horde
            div.row(style="max-height: 500px; overflow-y: auto;")
              div.col-lg-12
                p(ng-repeat="msg in worldA2")
                  b {{msg.player}}:&nbsp; 
                  span {{msg.message}}
                p
                  input.form-control(type='text' placeholder="Votre réponse" ng-model="worldA2Msg" ng-enter="sendToWorld(true, worldA2Msg)")
        div.col-lg-6
          div.well
            div.row
              div.col-lg-12
                b.text-danger World Horde &nbsp;
            div.row(style="max-height: 500px; overflow-y: auto;")
              div.col-lg-12
                  p(ng-repeat="msg in worldH2")
                    b {{msg.player}}:&nbsp; 
                    span {{msg.message}}
                  p
                    input.form-control(type='text' placeholder="Votre réponse" ng-model="worldH2Msg" ng-enter="sendToWorld(false, worldH2Msg)")
      div.row
        div.col-lg-12
          div(ui-view="")
    div.col-lg-3
      div.row
        div.col-lg-12
          div.well
            b État du serveur
            p Nombre de joueur : {{playersNum}}
            p En ligne depuis : {{uptime | duration}}
            div
              p Passer un annonce
              p 
                textarea
              button.btn.btn-default Passer une annonce
            b Personnage à utiliser pour les chats
            select.form-control(ng-model='usedChar' ng-change='changeCharacter()')
                option(ng-repeat='c in characters' value='{{c.guid}}') {{c.name}}
      div.row
        p Mes conversations
        div.col-lg-12
          div.well
            p Truc &nbsp;&nbsp;
              button.btn-danger Fermer
            div.well
              p 
                b Truc: &nbsp;&nbsp;
                span Bonsoir
              p 
                b Eryldor: &nbsp;&nbsp;
                span Bonsoir
              p
                input.form-control(type="text")
                
          
