div.container-fluid
  div.row(style='margin-top: 20%;')
    div.col-lg-2.col-lg-offset-5.well
      p 
        b Entrez votre clé d'accès
      p
        input(type='text')
      p
        button.btn.btn-success(ng-model='apiKey' ng-click='ok()') Valider
