div.container-fluid
  div.row(style='margin-top: 20%;')
    div.col-lg-2.col-lg-offset-5.well
      p 
        b Entrez votre clé d'accès
      p
        input(type='text' ng-model='apiKey')
      p
        button.btn.btn-success(ng-click='ok()' ng-disabled='!apiKey.length') Valider
