div.container-fluid
  div.row(style='margin-top: 20%;')
    div.col-lg-2.col-lg-offset-5.well
      p 
        b Entrez votre clé d'accès
      p
        input.form-control(type='text' ng-model='apiKey' ng-enter='apiKey.length > 0 && ok()' autofocus)
      p
        button.btn.btn-success(ng-click='ok()' ng-disabled='!apiKey.length || !serverList.length') Valider
      p Selectionner le serveur auquel se connecter:
      p
        select.form-control(ng-model="selectedRealm" ng-options="server.name for server in serverList")
