div.row
    h1 WLP
    h4 <em>Guilde</em>
div.row
    div.well
        div.row
            div.col-lg-6
                p <b>Chef de guilde : </b> Nelidon
                p <b>Message du jour : </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.col-lg-6
                p 3 membres
                p <b>Info de guilde : </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
div.row
    h2 Informations détaillées
div.row
    div.well
        div.row
            div.col-lg-6
                div.row
                    button.btn.btn-default Afficher les grades
                div.row
                    div.col-lg-12
                        div
                            p Grade ici avec les droit guilde / driots sur la BdG
            div.col-lg-6
                div.row
                    button.btn.btn-default Afficher membres
                div.row
                    div.col-lg-12
                        div
                            p Liste des membres ici trié par grade puis par ordre alphabétique
div.row
    h2 Banque de guilde
div.row
    div.well
        div.row
            div.col-lg-12
                p Argent dans le coffre : 120 or 23 argent 34 cuivre
        div.row
            div.col-lg-12
                tabset
                    tab(heading="Nom onglet 1") Contenue de l'onglet 1
                    tab(heading="Nom onglet 2") Contenue de l'onglet 2
                    tab(heading="Nom onglet 3") Contenue de l'onglet 3
                    tab(heading="Nom onglet 4") Contenue de l'onglet 4
                    tab(heading="Nom onglet 5") Contenue de l'onglet 5
                    tab(heading="Historique")
div.row
    h2 Haut-fait de guilde
div.row
    div.well
        div.row
            div.col-lg-12
                p Haut fait de guilde ici
