div.col-lg-12
    div.row
        div.col-lg-12(ng-switch="mapLoaded")
            p(ng-switch-when="true") Carte :
                select.form-control(ng-model='selectedMap' ng-change="selectMap(selectedMap)" ng-options="m.name for m in cartes")
                    
            p(ng-switch-default) Chargement des maps en cours
    div.row
        div.col-lg-12#canvas-container(style="width: 100%; height: 500px;")        
            canvas#view(width=1024, height=768) Your browser don't support canvas
    div.row
        div.col-lg-6
            p Liste des joueurs affichées
            p
                button.btn.btn-success(ng-click="ajouterJoueur()") Ajouter
            table.table
                tr
                    th Pseudo
                    th #
                tr(ng-repeat="p in wantedPlayers")
                    td 
                        a(ng-click="followPlayer(p)" href="#") {{p}}
                    td
                        button.btn.btn-danger(ng-click="removeItem(wantedPlayers, p)") Supprimer
        div.col-lg-6
            p Liste des guildes suivies
            p
                button.btn.btn-success(ng-click="ajouterGuilde()") Ajouter
            table.table
                tr
                    th Nom
                    th #
                tr(ng-repeat="p in wantedGuilds")
                    td {{p}} 
                    td
                        button.btn.btn-danger(ng-click="removeItem(wantedGuilds, p)") Supprimer
    
