div.row
    h1 {{playerInfo.name}}
div.row
    div.col-lg-12
        div.well
            div.row
                div.col-lg-6
                    p(ng-if="playerInfo.account")
                        a(href="" ui-sref="dashboard.account({id:{{playerInfo.account.id}}})") {{playerInfo.account.email}}
                    p <b>Liste des avertissement</b>
                    div.well
                        p 
                            em Avertissement de Kazuma du 2015-07-21 14:34:45
                        p Essai
                    p <b>Membre du group :</b>
                    ul
                        li(ng-repeat="member in playerInfo.groupMember")
                            a(href="" ui-sref="") {{member.name}} ({{member.race | race:member.gender}}, {{member.class | class:member.gender}}, niveau {{member.level}})
                    p(ng-if="playerInfo.groupMember.length < 2") Le joueur n'est pas dans un groupe
                div.col-lg-6
                    p <b>Niveau : </b> {{playerInfo.level}}
                    p <b>Position : </b> Les Tarides du Nord
                    p <b>Race : </b> {{playerInfo.race | race:playerInfo.gender}}
                    p <b>Classe : </b> {{playerInfo.class | class:playerInfo.gender}}
div.row
    h2 Informations générales
div.row
    div.col-lg-12
        div.well
            div.row
                div.col-lg-6
                    p <b>Argent : </b> {{playerInfo.money | money}}
                    p <b>Temps de jeu : </b> {{playerInfo.totaltime | duration}}
                    p <b>Temps de jeu à ce niveau : </b> {{playerInfo.leveltime | duration}}  
                div.col-lg-6
                    p <b>Guilde : </b>
                        a(href="" ui-sref="dashboard.guild({id:{{playerInfo.guild.id}}})" ng-if="playerInfo.guild.id !== undefined") {{playerInfo.guild.name}}
                        p(ng-hide="playerInfo.guild.id !== undefined") Le joueur n'est pas dans une guilde
div.row
    div.col-lg-12
        button.btn.btn-default(ng-click='hideInventory = !hideInventory; $WowheadPower.refreshLinks();') {{hideInventory ? 'Afficher' : 'Cacher'}} l'inventaire
        div.row(collapse='hideInventory')
            div.col-lg-12
                div.well
                    table.table.table-striped
                        each variable,disp in {"Tête":"tete", "Cou":"cou", "Epaules":"epaule", "Chemise":"chemise", "Torse":"torse", "Ceinture":"ceinture", "Jambe":"jambe", "Pied":"pied", "Poignet":"poignet", "Main":"main", "Anneau 1":"anneau1", "Anneau 2":"anneau2", "Bijou 1":"bijou1", "Bijou 2":"bijou2", "Dos":"dos", "Arme principale":"arme1", "Arme secondaire":"arme2", "Arme à distance":"armeadistance", "Tabard":"tabard"}
                            tr
                                td=disp + ': '
                                td
                                    a(href="" rel="domain=fr,item={{" + variable + ".id}}") {{#{variable}.name ? #{variable}.name : 'Rien'}}
                    p Sac à dos : <button ng-click="cacherSacADos = !cacherSacADos" class="btn btn-default">{{cacherSacADos ? 'Afficher' : 'Cacher'}}</button>
                    div(collapse="cacherSacADos")
                        p(ng-repeat="item in sacADos" style="margin-left: 20px") <a href="" rel="domain=fr,item={{item.id}}"> {{item.name}}</a> <span ng-show="item.count > 1">(x{{item.count}})</span>
                    div(ng-repeat="s in sac")
                        a(href="#" rel="domain=fr,item={{s.item.id}}") {{s.item ? s.item.name : "Pas de sac"}}
                        button(ng-disabled="!s.item" ng-click="s.hide = !s.hide").btn.btn-default {{s.hide ? "Ouvrir" : "Fermer"}}
                        div(collapse="s.hide")
                            p(ng-repeat="item in s.contenue" style="margin-left: 20px") <a href="" rel="domain=fr,item={{item.id}}">{{item.name}}</a> <span ng-show="item.count > 1">(x{{item.count}})</span>
                            
                    h3 Banque du joueur
                    p <button class="btn btn-default" ng-click="hideBank = !hideBank">{{hideBank ? "Afficher" : "Cacher"}} la banque</button>
                    div(collapse="hideBank")
                        p(ng-repeat="item in bank" style="margin-left: 20px") <a href="" rel="domain=fr,item={{item.id}}">{{item.name}}</a> <span ng-show="item.count > 1">(x{{item.count}})</span>
                    div(ng-repeat="s in bankSac")
                        a(href="#" rel="domain=fr,item={{s.item.id}}") {{s.item ? s.item.name : "Pas de sac"}}
                        button(ng-disabled="!s.item" ng-click="s.hide = !s.hide").btn.btn-default {{s.hide ? "Ouvrir" : "Fermer"}}
                        div(collapse="s.hide")
                            p(ng-repeat="item in s.contenue" style="margin-left: 20px") <a href="" rel="domain=fr,item={{item.id}}">{{item.name}}</a> <span ng-show="item.count > 1">(x{{item.count}})</span>
div.row
    div.col-lg-12        
        button.btn.btn-default(ng-click='hideHistory = !hideHistory') {{hideHistory ? 'Afficher' : 'Cacher'}} l'historique
        div.row(collapse='hideHistory')
            div.col-lg-12
                div.well
div.row
    div.col-lg-12
        button.btn.btn-default(ng-click='hideSkills = !hideSkills') {{hideSkills ? 'Afficher' : 'Cacher'}} les compétences
        div.row(collapse='hideSkills')
            div.col-lg-12
                div.well
                    div.row(ng-repeat="skill in playerInfo.skills")
                        div.col-md-4
                            a(href="#" rel="skill={{skill.id}}") {{skill.name}}
                        div.col-md-4
                            progressbar(value="skill.value" max="skill.max == 0 ? 1 : skill.max") {{skill.value}} / {{skill.max}}
                        div.col-md-4
                
