div.container-fluid
    div.row(style='margin-top: 20%;')
        div.col-lg-4.col-lg-offset-4.well
            p {{msg}}
            p
                progressbar(max="100" value="(progress / total) * 100") <span style="color:white; white-space:nowrap;">{{(progress / total) * 100 | number:1}} %</span>
